$primary: #01385f; // Deep navy blue for the main brand color
$secondary: #ed8b26; // Warm orange for supporting elements
$accent: #4a7197; // Lighter blue accent color
$text-color: #1a1a1a; // Dark charcoal gray text color
$background-color: #ece5d2; // Soft light beige for the main background color

// scss-docs-start theme-color-variables
//$primary:       $blue !default;
//$secondary:     $gray-600 !default;
//$success:       $green !default;
//$info:          $cyan !default;
//$warning:       $yellow !default;
//$danger:        $red !default;
//$light:         $gray-100 !default;
//$dark:          $gray-900 !default;
// scss-docs-end theme-color-variables

// scss-docs-start theme-colors-map
//$theme-colors: (
//  "primary":    $primary,
//  "secondary":  $secondary,
//  "success":    $success,
//  "info":       $info,
//  "warning":    $warning,
//  "danger":     $danger,
//  "light":      $light,
//  "dark":       $dark
//) !default;
// scss-docs-end theme-colors-map
