html,
body {
  height: 100%;
  background-color: $background-color;
}

body {
  color: $text-color;
}

main {
  margin-top: 65px;
}

main section#listings-section,
main section#search-section {
  margin: 5%;
}

footer {
  border-top: solid 1px $primary;
}
