:root {
  --nav-height: 90px; // Sets the variable to the wanted height of navbar, so that it can be re-used.
}

html,
body {
  height: 100%;
  background-color: $background-color;
}

body {
  color: $text-color;
}

main {
  margin-top: var(--nav-height);
  min-height: 75vh;

  section {
    margin: calc(var(--nav-height) + 5%) 5% 5% 5%;
  }
}

footer {
  border-top: solid 1px $primary;
}
